streamlit
transformers==4.53.3
torch
sentencepiece
accelerate
tokenizers==0.21.4
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-google-genai

faiss-cpu
sentence-transformers

google-generativeai

python-dotenv

pypdf
python-docx

deep-translator
gTTS

pandas
numpy

safetensors
