streamlit>=1.49.0

# AI
google-generativeai>=0.8.5
langchain>=1.0.0
langchain-core>=1.0.0
langchain-community>=0.3.29
langchain-google-genai>=2.1.10
langchain-huggingface>=1.0.0
langchain-text-splitters>=0.3.8

# Embeddings
sentence-transformers>=5.1.0
faiss-cpu>=1.11.0

# Hugging Face
transformers>=4.56.0
huggingface-hub>=0.34.4
tokenizers>=0.22.0

# PDF
pypdf>=6.0.0
pdf2image>=1.17.0
PyMuPDF>=1.26.4

# OCR
pytesseract>=0.3.13
Pillow>=11.3.0

# Office Files
python-docx>=1.2.0
python-pptx>=1.0.2
openpyxl>=3.1.5
pandas>=2.3.2

# Tables
camelot-py>=1.0.9
tabulate>=0.9.0

# Translation
deep-translator>=1.11.4

# Text-to-Speech
gTTS>=2.5.4

# Environment
python-dotenv>=1.1.1

# Utilities
numpy>=2.3.3
